[common]
application.directory = APPLICATION_PATH  "/application"
application.dispatcher.catchException = TRUE
application.library.namespace = ""
[database]
# default DB
database.default.driver = 'mysql'
database.default.host = '127.0.0.1'
database.default.port = '3306'
database.default.database = 'test'
database.default.username = 'username'
database.default.password = 'password'
database.default.charset = 'utf8'
database.default.prefix = ''

[product : common]
[dev : common : database]
